<template>
  <SideBar v-model="sidebarOpen" @closeSidebar="closeSidebar" />

  <div class="lg:pl-72">
    <TopBar v-model="sidebarOpen" @openSidebar="openSidebar"/>

    <main class="py-10">
      <div class="px-4 sm:px-6 lg:px-8">
        <dashboard-content> </dashboard-content>
      </div>
    </main>
  </div>
</template>

<script>
import SideBar from './components/SideBar.vue'
import TopBar from './components/TopBar.vue'
import DashboardContent from './Content.vue'

export default {
  components: {
    SideBar,
    TopBar,
    DashboardContent
  },
  data() {
    return {
      sidebarOpen: false
    }
  },
  methods: {
    openSidebar() {
      this.sidebarOpen = true
    },
    closeSidebar() {
      this.sidebarOpen = false
    }
  }
}

</script>