<template>
  <div class="w-full">
    <label for="comment" class="text-sm font-medium leading-6 text-gray-900">{{ feedbackPrompt }}</label>
    <div class="mt-2">
      <textarea :value="modelValue" @input="handleInput" rows="5" ame="comment" id="comment"
        class="mb-4 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
    </div>
    
    <div class="flex">
      <button @click="triggerPrevStep"
        class="mr-2 w-40 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">
        ← Back
      </button>

      <button @click="triggerNextStep"
        class="flex items-center justify-center w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
        Send
        <div class="flex-shrink-0 inline-flex ml-2">
          <PaperAirplaneIcon class="w-5 h-5 text-white-500" />
        </div>
      </button>
    </div>
  </div>
</template>

<script>

import { PaperAirplaneIcon } from '@heroicons/vue/20/solid'

export default {
  components: {
    PaperAirplaneIcon
  },
  data() {
    return {
      feedbackPrompts: [
        "We're truly sorry to hear that. Could you share what went wrong for you?",
        "That's disappointing to hear. Can you tell us how we could have done better?",
        "We value your feedback. Could you share some specifics on what didn't work for you?",
        "We'd like to understand more. What areas do you feel we need to improve on?",
        "Thank you for your honesty. What could we have done differently to serve you better?",
        "We strive for better. Can you share what aspects you found just average?",
        "We appreciate your feedback. What can we do to move closer to a perfect score in your eyes?",
        "We're getting closer! What can we refine to make our service excellent for you?",
        "Thank you for the positive score! Can you share what could make your experience even better?",
        "We're delighted to see that. What small changes can take us to a perfect score for you?",
        "We're thrilled you had a great experience! Is there anything else you'd like to share or suggest?"
      ],
      selectedScore: null
    }
  },
  props: ['modelValue', 'nps'],
  emits: ['update:modelValue', 'advance'],
  computed: {
    feedbackPrompt() {
      if (this.nps !== null) {
        return this.feedbackPrompts[this.nps];
      }
      return "We'd love to hear more about your experience";
    }
  },
  methods: {
    handleInput(event) {
      this.$emit('update:modelValue', event.target.value);
    },
    triggerNextStep() {
      this.$emit('advance');
    },
    triggerPrevStep() {
      this.$emit('back');
    }
  }
}

</script>