<template>
  <div class="w-full max-w-md">

    <!-- Check Icon -->
    <div class="flex justify-center mb-8">
      <div class="w-20 h-20 p-3 border-2 border-blue-500 rounded-full flex items-center justify-center">
        <svg class="w-10 h-10 text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M5 13l4 4L19 7"></path>
        </svg>
      </div>
    </div>

    <!-- Thank You Message -->
    <h1 class="text-3xl font-semibold mb-4 text-center">Thank You!</h1>
    <p class="text-gray-700 text-center mb-8">
      We truly appreciate your time and effort in completing the survey. Your feedback will greatly contribute to our
      continuous improvement.
    </p>
  </div>
</template>


