<template>
  <div class="max-w-full mx-auto">
    <label for="nps" class="block text-sm font-bold mb-2">Tell us about your overall experience</label>

    <div class="flex justify-center items-center">
      <div class="isolate inline-flex -space-x-px rounded-md shadow-sm">
        <a v-for="n in 10" :key="n" class="w-1/10" :class="[
          n === modelValue ? ['px-3 md:px-5 py-2 md:py-3 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 ring-1 ring-inset ring-gray-300 rounded-md focus-visible:outline-indigo-600 transform scale-110 z-10', getColorClass(n)] :
            'relative inline-flex items-center px-3 md:px-5 py-2 md:py-3 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-100 focus:z-20 focus:outline-offset-0',
          n === 1 ? 'rounded-l-md' : '',
          n === 10 ? 'rounded-r-md' : '',
        ]" @click="selectValue(n)">
          {{ n }}
        </a>
      </div>
    </div>

    <div class="flex mt-1">
      <p class="text-red-600 mr-auto text-sm font-medium">Very Bad</p>
      <p class="text-green-500 ml-auto text-sm font-medium">Very Good</p>
    </div>

    <button @click="triggerNextStep" :disabled="modelValue === 0" :class="[modelValue === 0 ? ['block w-full bg-gray-400 text-white font-semibold py-2 px-4 mt-3 rounded'] :
      'block w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 mt-3 rounded']"> Continue
    </button>
  </div>
</template>

<script>

export default {
  props: ['modelValue'],
  emits: ['update:modelValue', 'advance'],
  methods: {
    selectValue(n) {
      this.$emit('update:modelValue', n);  // this updates the value
    },

    triggerNextStep() {
      this.$emit('advance');
    },

    getColorClass(value) {
      switch (value) {
        case 1: return 'bg-red-600';
        case 2: return 'bg-red-500';
        case 3: return 'bg-orange-600';
        case 4: return 'bg-orange-500';
        case 5: return 'bg-amber-500';
        case 6: return 'bg-yellow-400';
        case 7: return 'bg-lime-500';
        case 8: return 'bg-lime-400';
        case 9: return 'bg-green-400';
        case 10: return 'bg-green-500';
      }
    },

    getScaleClass() {
      return 'transform scale-120 z-10';
    }
  },
}

</script>