<template>
  <div class="w-full max-w-lg mb-8">
    <div class="bg-gray-200 rounded-full h-5">
      <div
        :style="{ width: `${percentage}` }"
        class="bg-blue-500 rounded-full h-5 ease-out duration-300"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    percentage: {
      type: String,
      required: true,
    },
  },
};
</script>
