<template>
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center mt-12 w-full">
      <img
        src="@/assets/images/Logo_Black.png"
        class="absolute bottom-5 right-5 w-28"
        alt="logo"
      />
      <h1 class="text-2xl font-bold mb-8">Share your feedback</h1>

      <ProgressBar :percentage="progressWidth" />

      <div class="w-full max-w-lg" v-if="currentStep === 1">
        <NPSButtons v-model="nps" @advance="nextStep" />
      </div>

      <div class="w-full max-w-lg" v-if="currentStep === 2">
        <FeedbackTextarea
          class="w-full"
          v-model="feedback"
          @advance="submitForm"
          @back="prevStep"
          :nps="nps"
        />
      </div>

      <div v-if="currentStep === 3">
        <FinishForm />
      </div>
    </div>
  </div>
</template>

<script setup>
import NPSButtons from "@/components/apps/survey/NPSButtons.vue";
import FeedbackTextarea from "@/components/apps/survey/FeedbackTextarea.vue";
import ProgressBar from "@/components/apps/survey/ProgressBar.vue";
import FinishForm from "@/components/apps/survey/FinishForm.vue";
</script>

<script>
export default {
  components: {
    ProgressBar,
    NPSButtons,
    FeedbackTextarea,
    FinishForm,
  },
  data() {
    return {
      nps: 0,
      feedback: "",
      currentStep: 1,
      totalSteps: 2,
    };
  },
  computed: {
    progressWidth() {
      if (this.currentStep === 1) return "4%";
      return `${((this.currentStep - 1) / this.totalSteps) * 100}%`;
    },
  },
  methods: {
    nextStep() {
      this.currentStep++;
    },
    prevStep() {
      this.currentStep--;
    },
    submitForm() {
      this.nextStep();
      // Print data
      console.log("NPS:", this.nps);
      console.log("Feedback:", this.feedback);

      // Clear the form
      this.nps = 0;
      this.feedback = "";
    },
  },
};
</script>
