<template>
    <NavBar />
    <no-auth-content> </no-auth-content>
</template>

<script>
    import NavBar from './NavBar.vue';
    import NoAuthContent from './Content.vue'

    export default {
        components: {
            NavBar,
            NoAuthContent
        },
    }

</script>