<template>
  <Stats />
  <div class="grid lg:grid-cols-2 gap-4 pt-4 grid-cols-1">
    <Indicator
      :promoters="promoters"
      :passives="passives"
      :detractors="detractors"
    />
    <PourcentagePart />
  </div>
  <ValuesPercentage />
  <RecentSession />
</template>


<script>

import Stats from "@/components/dashboard/Stats.vue";
import Indicator from "@/components/dashboard/NPSIndicator.vue";
import PourcentagePart from "@/components/dashboard/PourcentagePart.vue";
import ValuesPercentage from "@/components/dashboard/ValuesPercentage.vue";
import RecentSession from "@/components/dashboard/RecentSession.vue";

export default {
  components: {
    Stats,
    Indicator,
    PourcentagePart,
    ValuesPercentage,
    RecentSession,
  },
  data() {
    return {
        promoters: 100,
        passives: 0,
        detractors: 34
      }
    }
 }
</script>
