/* ./src/styles/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.circle_valid {
    width: 80px;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(76, 174, 76);
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box;
}

.left_valid {
    height: 5px;
    background-color: rgb(92, 184, 92);
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    width: 25px;
    left: 14px;
    top: 46px;
    transform: rotate(45deg);
}

.right_valid {
    height: 5px;
    background-color: rgb(92, 184, 92);
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    width: 47px;
    right: 8px;
    top: 38px;
    transform: rotate(-45deg);
}