<template>
  <div class="bg-white shadow sm:rounded-lg ">
    <div class="px-4 py-5 sm:p-6">
      <div class="sm:flex sm:items-start sm:justify-between lg:block">
        <h3 class="text-base font-semibold leading-6 text-gray-900">NPS result</h3>
        <apexchart type="radialBar" height="350" :options="chartOptions" :series="series"></apexchart>
        <div class="p-4 ">
          <div class="flex flex-col justify-center space-y-2 lg:flex-row-reverse lg:space-y-0 lg:space-x-4 ">
            <div class="flex items-center space-x-2 lg:ml-2">
              <div class="w-4 h-4 bg-green-500 rounded-full"></div>
              <span class="text-sm">Positif (20 to 100)</span>
            </div>
            <div class="flex items-center space-x-2 mb-1">
              <div class="w-4 h-4 bg-yellow-500 rounded-full"></div>
              <span class="text-sm">Neutral (-20 to 20)</span>
            </div>
            <div class="flex items-center space-x-2">
              <div class="w-4 h-4 bg-red-500 rounded-full"></div>
              <span class="text-sm">Negative (-100 to -20)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
  
<script>

export default {
  name: 'Vue Chart',
  data: function () {
    return {
      series: [this.graphScore()],
      chartOptions: {
        chart: {
          height: 350,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            startAngle: -135,
            endAngle: 135,
            hollow: {
              margin: 0,
              size: '70%',
              background: '#fff',
              image: undefined,
              imageOffsetX: 0,
              imageOffsetY: 0,
              position: 'front',
              dropShadow: {
                enabled: true,
                top: 3,
                left: 0,
                blur: 4,
                opacity: 0.24
              }
            },
            track: {
              background: '#fff',
              strokeWidth: '67%',
              margin: 0, // margin is in pixels
              dropShadow: {
                enabled: true,
                top: -3,
                left: 0,
                blur: 4,
                opacity: 0.35
              }
            },
            dataLabels: {
              show: true,
              name: {
                offsetY: -10,
                show: true,
                color: '#888',
                fontSize: '17px'
              },
              value: {
                formatter: function (value, opts) {
                  const promoters = 100
                  const passives = 0
                  const detractors = 34

                  const total = promoters + passives + detractors
                  const nps = Math.round((promoters - detractors) / total * 100)
                
                  return parseInt(nps);
                },
                color: '#111',
                fontSize: '36px',
                show: true,
              }
            }
          }
        },
        fill: {
          type: 'solid',
          colors: this.calculNPSScore() < -20 ? "#DB4437" : this.calculNPSScore() < 20 ? "#F4B400" : '#0F9D58'
        },
        stroke: {
          lineCap: 'round'
        },
        labels: ['NPS'],
      },
    }
  },
  props: ['promoters', 'passives', 'detractors'],
  methods: {
    calculNPSScore() {

      const total = this.promoters + this.passives + this.detractors
      const nps = Math.round((this.promoters - this.detractors) / total * 100)
    
      return nps
    }, 
    graphScore() {
      const total = this.promoters + this.passives + this.detractors
      const percentage = Math.round((this.promoters / total) * 100)
      
      return percentage
    }
  }
}
</script>

  