<template>
  <div class="bg-white shadow sm:rounded-lg ">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Percentage of Each Group</h3>
      <div class="lg:col-span-4">
        <div class="mt-6">
          <dl class="space-y-3">
            <div v-for="item in data.groups" :key="item" class="flex items-center text-sm">
              <dt class="flex flex-1 items-center">

                <!-- Text -->
                <div>
                  <p class="w-24 font-medium text-gray-900 text-right">{{ ((item.count / data.totalCount) * 100).toFixed(0) + "%" }}</p>
                  <p class="w-24 font-medium text-gray-900 text-right">{{ item.count + " " + item.title }}</p>
                </div>

                <!-- Graph -->
                <div aria-hidden="true" class="ml-1 flex flex-1 items-center">
                  <div class="relative ml-3 flex-1">
                    <div class="h-3 rounded-lg border p-5 border-gray-200 bg-gray-100" />
                    <div v-if="item.count > 0" class="absolute inset-y-0 rounded-lg border" :class="[item.bg]"
                      :style="{ width: `calc(${item.count} / ${data.totalCount} * 100%)` }" />
                  </div>
                </div>
              </dt>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</template>
  
<script setup>

const data = {
  totalCount: 333,
  groups: [
    { count: 194, title: "promoter", bg: "border-green-500 bg-green-500" },
    { count: 78, title: "passives", bg: "border-yellow-500 bg-yellow-500" },
    { count: 61, title: "detractors", bg: "border-red-500 bg-red-500" },
  ]
}
</script>