<template>
  <div class="bg-white shadow sm:rounded-lg mt-3">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Latest activity </h3>
      <table class="mt-6 w-full whitespace-nowrap text-left">

        <!-- Define size of col -->

        <colgroup>
          <col class="w-full sm:w-2/12" />
          <col class="sm:w-1/12" />
          <col class="sm:w-6/12" />
          <col class="sm:w-2/12" />
          <col class="sm:w-1/12" />
        </colgroup>

        <!-- Table header -->

        <thead class="border-b border-black/10 text-sm leading-6 text-black">
          <tr>
            <th scope="col" class="py-2 pl-4 pr-8 sm:pl-6 lg:pl-8">User</th>
            <th scope="col" class="py-2 pl-0 pr-8 sm:table-cell">NPS</th>
            <th scope="col" class="hidden py-4 pl-0 pr-4 text-sm leading-6 lg:pr-20 sm:table-cell sm:pr-6">Feedback</th>
            <th scope="col" class="py-2 pl-0 pr-4 text-right  sm:pr-8 sm:text-left lg:pr-8">Progess</th>
            <th scope="col" class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 sm:table-cell sm:pr-6 lg:pr-8">Last
              activity</th>
          </tr>
        </thead>

        <!-- Data -->
        <tbody class="divide-y divide-black/5">
          <tr v-for="item in activityItems" :key="item.commit">
            <td class="py-2 pl-4 pr-8 sm:pl-6 lg:pl-">
              <div class="flex items-center gap-x-4">
                <img :src="item.user.imageUrl" alt="" class="h-8 w-8 rounded-full bg-gray-800" />
                <div class="truncate text-sm font-medium leading-6 text-black">
                  <p>{{ item.user.name }}</p>
                  <p class="text-xs text-gray-500 font-normal">{{ item.user.email }}</p>
                </div>
              </div>
            </td>
            <td class="py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
              
              <div v-if="item.nps" class="flex gap-x-3">
                <div class="rounded-full px-4 py-2  text-white font-bold"
                  :class="[item.nps < 7 ? 'bg-red-500' : item.nps < 9 ? 'bg-orange-500' : 'bg-green-500']">{{ item.nps }}
                </div>
              </div>
            </td>
            <td class="hidden py-4 pl-0 pr-4 text-sm leading-6 lg:pr-20 sm:table-cell sm:pr-6">
              <div v-if="item.feedback" class="flex items-center justify-end gap-x-2 sm:justify-start">
                <div class="hidden text-black sm:block whitespace-break-spaces">{{ item.feedback }}</div>
              </div>
            </td>
            <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
              
              
              <div v-if="item.step === 3" class="font-semibold text-green-600">Completed</div>
              <div v-if="item.step !== 3" class="font-semibold text-red-600">Incompleted</div>
              <div class="">Step {{ item.step }}. </div>
            </td>
            <td class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 sm:table-cell sm:pr-6 lg:pr-8">
              <time :datetime="item.dateTime">{{ item.date }}</time>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
  
<script setup>

const activityItems = [
  {
    user: {
      name: 'Michael Foster',
      email: 'michael.foster@gmail.com',
      imageUrl: 'https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80',
    },
    nps: 9,
    step: 2,
    date: '3 minutes ago',
    dateTime: '2023-01-23T11:00',
  },
  {
    user: {
      name: 'Michael Foster',
      email: 'michael.foster@gmail.com',
      imageUrl:
        'https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80',
    },
    step: 0,
    date: '4 minutes ago',
    dateTime: '2023-01-23T11:00',
  },
  {
    user: {
      name: 'Michael Foster',
      email: 'michael.foster@gmail.com',
      imageUrl:
        'https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80',
    },
    nps: 4,
    feedback: 'The survey is the best way to analyse user data information? I which you could do better thing after my answer and make my life bette',
    step: 3,
    date: '24 minutes ago',
    dateTime: '2023-01-23T11:00',
  },
  {
    user: {
      name: 'Michael Foster',
      email: 'michael.foster@gmail.com',
      imageUrl:
        'https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80',
    },
    nps: 7,
    step: 3,
    feedback: 'The survey is the best way to analyse user data information? I which you could do better thing after my answer and make my life bette',
    date: '39 minutes ago',
    dateTime: '2023-01-23T11:00',
  },
]

</script>