<template>
  <div class="bg-white shadow sm:rounded-lg mt-3">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Distribution of NPS Responses</h3>
      <div class="lg:col-span-4">
        <div class="mt-6">
          <dl class="flex flex-wrap justify-between">

            <div v-for="part in data.values" :key="part"
              class="flex flex-col items-center w-2/12 sm:w-1/12 lg:w-1/8 xl:w-1/10 text-sm mb-4">
              <dt class="w-full items-center">

                <!-- Graph -->
                <div aria-hidden="true" class="flex flex-1 flex-col items-center">
                  <div class="relative w-2/3 sm:w-full">

                    <!-- Percentage -->
                    <div class="block mb-2">
                      <p class="text-sm sm:text-base font-medium text-gray-900 text-center">{{ part.value }}</p>
                    </div>


                    <!-- Box -->
                    <div class="sm:h-40  w-full rounded-lg p-5 py-4 relative">
                      <div v-if="part.value > 0" class="absolute inset-x-0 bottom-0 rounded-lg border"
                        :class="[part.id < 7 ? 'border-red-500 bg-red-500' : part.id < 9 ? 'border-yellow-500 bg-yellow-500' : 'border-green-500 bg-green-500']"
                        :style="{ height: `calc(${part.value} / 99 * 100%)` }" />
                    </div>
                  </div>

                  <!-- Text -->
                  <div class="block mt-2">
                    <p class="text-sm sm:text-base font-medium text-gray-400 text-center">{{ part.id }}</p>
                  </div>
                </div>
              </dt>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</template>
    
<script>

export default {
  data() {
    return {
      data: {
        totalCount: 333,
        values: [
          { id: 0, value: 14 },
          { id: 1, value: 3 },
          { id: 2, value: 8 },
          { id: 3, value: 7 },
          { id: 4, value: 11 },
          { id: 5, value: 9 },
          { id: 6, value: 9 },
          { id: 7, value: 42 },
          { id: 8, value: 36 },
          { id: 9, value: 99 },
          { id: 10, value: 95 },
        ]
      }
    }
  },
  method: {
    getHighestValue() {
      return Math.max(...data.values.map(part => part.value));
    }
  }
}

</script>